.noscript {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  background-color: var(--c-ocean-blue);
  color: var(--c-yellow);
  font-size: 1.6rem;
  padding: 15px;
  width: 100%;
  height: 100%;
}
